* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ff8c00;
}

#formulario-pergunta {
    margin-top: 5vh;
}

img {
    width: 100px;

}

.voltar {
    margin-bottom: 10px;
    
}

/* footer {
    text-align: center;
    margin-top: 20px;
    height: 100px;
    background-color: #c46c01;
    color: white;
    padding: 35px;
} */
/* footer {
    margin-bottom: -50px;
    bottom: -50;
    position: absolute;
    width: 100%;
    
} */

#warning {
    margin-top: 10px;
}